/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/promo-banner.scss ***!
  \****************************************************************************************************************************************************************************************/
.promo_banner {
  background-color: #f6eedc;
}
@media screen and (min-width: 1024px) {
  .promo_banner {
    padding: 9.8rem var(--gl-indent);
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner {
    padding: 5.6rem var(--gl-indent);
  }
}

.promo_banner_in {
  max-width: 133rem;
}

.promo_banner__body {
  display: flex;
  min-height: 59.4rem;
}
@media screen and (max-width: 1023px) {
  .promo_banner__body {
    flex-direction: column;
  }
}

.promo_banner__info {
  display: flex;
  align-items: center;
  color: #f6eedc;
  background-color: #141414;
}
.promo_banner--reversed_mod .promo_banner__info {
  order: 2;
}
@media screen and (min-width: 1024px) {
  .promo_banner--reversed_mod .promo_banner__info {
    padding: 5rem 13.5rem 5rem 35rem;
  }
}
@media screen and (min-width: 1024px) {
  .promo_banner__info {
    flex: 0 1 92.5rem;
    padding: 5rem 35rem 5rem 13.5rem;
    border-radius: 0.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info {
    justify-content: center;
    padding: 2.7rem 3.2rem 6rem 3.2rem;
    border-radius: 0 0 0.8rem 0.8rem;
    order: 2;
  }
}
.promo_banner__info h4 {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.6;
  letter-spacing: 0.2em;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info h4:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info h4:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}
.promo_banner__info h3 {
  font-family: "Gazpacho", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.1;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info h3:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info h3:not(:last-child) {
    margin-bottom: 2.2rem;
  }
}
.promo_banner__info p {
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info p {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .promo_banner__info p:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info p:not(:last-child) {
    margin-bottom: 2.2rem;
  }
}
.promo_banner__info a {
  color: inherit;
  height: 5.6rem;
  padding: 0 2.8rem;
  line-height: 5.6rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
}
.promo_banner__info a[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.promo_banner__info a:hover, .promo_banner__info a:focus {
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info a {
    color: #f6eedc;
    background-color: #141414;
    border: 1px solid #f6eedc;
  }
  .promo_banner__info a:hover {
    background-color: #e8baa3;
    color: #141414;
    border-color: #141414;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info a {
    background-color: #e8baa3;
    color: #141414;
    border-color: #141414;
  }
  .promo_banner__info a:hover {
    color: #f6eedc;
    background-color: #141414;
    border: 1px solid #f6eedc;
  }
}
.promo_banner__info a:hover, .promo_banner__info a:focus {
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info a {
    width: 17.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info a {
    width: 14.5rem;
  }
}

.promo_banner__content {
  width: 100%;
  max-width: 40rem;
}
@media screen and (max-width: 1023px) {
  .promo_banner__content {
    text-align: center;
  }
}

.promo_banner__slider {
  align-self: center;
}
.promo_banner__slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.99);
  background-color: #fff;
  border-radius: 0.8rem;
}
.promo_banner--reversed_mod .promo_banner__slider {
  order: 1;
}
@media screen and (min-width: 1024px) {
  .promo_banner--reversed_mod .promo_banner__slider {
    margin-right: -25rem;
  }
}
@media screen and (min-width: 1024px) {
  .promo_banner__slider:not(.promo_banner--reversed_mod .promo_banner__slider) {
    margin-left: -25rem;
  }
}
@media screen and (min-width: 1024px) {
  .promo_banner__slider {
    flex: 1 1 65.5rem;
    border-radius: 0.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__slider {
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
  }
}

.promo_banner__picture {
  position: relative;
  display: block;
}
@media screen and (min-width: 1024px) {
  .promo_banner__picture {
    padding-bottom: 79.4%;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__picture {
    order: 1;
    padding-bottom: 93.8%;
    background: #141414;
  }
}

.promo_banner__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .promo_banner__img {
    border-radius: 0.8rem;
    filter: drop-shadow(1rem 1rem 4rem rgba(0, 0, 0, 0.2));
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__img {
    border-radius: 0.8rem 0.8rem 0 0;
  }
}

.promo_banner .swiper-pagination {
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 1023px) {
  .promo_banner .swiper-pagination {
    display: none;
  }
}

.promo_banner .swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem !important;
  background: transparent;
  border: 1px solid #f6eedc;
  opacity: 1;
  transition: background 0.3s ease, opacity 0.3s ease;
}

.promo_banner .swiper-pagination-bullet-active {
  background: #f6eedc;
}
/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/text-block.scss ***!
  \**************************************************************************************************************************************************************************************/
@media screen and (min-width: 1024px) {
  .text_block {
    padding-top: 11.5rem;
    padding-bottom: 10.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .text_block {
    padding-top: 5.6rem;
    padding-bottom: 1.6rem;
  }
}

.text_block__content {
  max-width: 79rem;
  margin: 0 auto;
  text-align: center;
}
.text_block__content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 110%;
  font-family: "Gazpacho", sans-serif;
  color: #141414;
}
.text_block__content h3:not(:last-child) {
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 1024px) {
  .text_block__content p {
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1023px) {
  .text_block__content p {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.02em;
  }
}
.text_block__content p:not(:last-child) {
  margin-bottom: 3.2rem;
}
/*!***************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/full-screen.scss ***!
  \***************************************************************************************************************************************************************************************/
.full_screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
}

.full_screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.full_screen__bg:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.full_screen__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--gl-indent);
  text-align: center;
  color: #f6eedc;
  z-index: 1;
}

.full_screen__title {
  width: 100%;
  font-family: "Gazpacho", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .full_screen__title:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__title {
    max-width: 68rem;
    font-size: 8.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__title {
    max-width: 85%;
    font-size: 3.2rem;
  }
}

.full_screen__subtitle {
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #f6eedc;
}
@media screen and (min-width: 1024px) {
  .full_screen__subtitle {
    font-size: 1.6rem;
    line-height: 262%;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__subtitle {
    font-size: 1.4rem;
    line-height: 140%;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__subtitle:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__subtitle:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.full_screen__text {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .full_screen__text {
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__text {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__text {
    max-width: 68rem;
    letter-spacing: 0.03em;
    line-height: 1.3;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__text {
    max-width: 30rem;
    letter-spacing: 0.02em;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__text:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__text:not(:last-child) {
    margin-bottom: 3.2rem;
  }
}

.full_screen__button {
  cursor: pointer;
}

.full_screen__button_text {
  height: 5.6rem;
  padding: 0 2.8rem;
  line-height: 5.6rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
}
.full_screen__button_text[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.full_screen__button_text:hover, .full_screen__button_text:focus {
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .full_screen__button_text {
    color: #f6eedc;
    background-color: #141414;
    border: 1px solid #f6eedc;
  }
  .full_screen__button_text:hover {
    background-color: #e8baa3;
    color: #141414;
    border-color: #141414;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__button_text {
    background-color: #e8baa3;
    color: #141414;
    border-color: #141414;
  }
  .full_screen__button_text:hover {
    color: #f6eedc;
    background-color: #141414;
    border: 1px solid #f6eedc;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__button_text {
    width: 19.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__button_text {
    width: 18rem;
  }
}

.full_screen__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full_screen__icon {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .full_screen__icon {
    height: 23.7rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__icon {
    height: 12.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__icon:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__icon:not(:last-child) {
    margin-bottom: 3.4rem;
  }
}

.full_screen__picture_btn {
  display: block;
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1024px) {
  .full_screen__picture_btn {
    width: 9rem;
    height: 9rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__picture_btn {
    width: 5rem;
    height: 5rem;
  }
}
.full_screen__picture_btn:hover {
  transform: scale(1.05);
}

.full_screen__img_btn {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.full_screen__picture {
  display: block;
  width: 100%;
  height: 100%;
}

.full_screen__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=src_js_pages_events-amenities-child_js.css.map*/