/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/promo-banner.scss ***!
  \****************************************************************************************************************************************************************************************/
.promo_banner {
  background-color: #f6eedc;
}
@media screen and (min-width: 1024px) {
  .promo_banner {
    padding: 9.8rem var(--gl-indent);
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner {
    padding: 5.6rem var(--gl-indent);
  }
}

.promo_banner_in {
  max-width: 133rem;
}

.promo_banner__body {
  display: flex;
  min-height: 59.4rem;
}
@media screen and (max-width: 1023px) {
  .promo_banner__body {
    flex-direction: column;
  }
}

.promo_banner__info {
  display: flex;
  align-items: center;
  color: #f6eedc;
  background-color: #141414;
}
.promo_banner--reversed_mod .promo_banner__info {
  order: 2;
}
@media screen and (min-width: 1024px) {
  .promo_banner--reversed_mod .promo_banner__info {
    padding: 5rem 13.5rem 5rem 35rem;
  }
}
@media screen and (min-width: 1024px) {
  .promo_banner__info {
    flex: 0 1 92.5rem;
    padding: 5rem 35rem 5rem 13.5rem;
    border-radius: 0.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info {
    justify-content: center;
    padding: 2.7rem 3.2rem 6rem 3.2rem;
    border-radius: 0 0 0.8rem 0.8rem;
    order: 2;
  }
}
.promo_banner__info h4 {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.6;
  letter-spacing: 0.2em;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info h4:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info h4:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}
.promo_banner__info h3 {
  font-family: "Gazpacho", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.1;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info h3:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info h3:not(:last-child) {
    margin-bottom: 2.2rem;
  }
}
.promo_banner__info p {
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info p {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .promo_banner__info p:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info p:not(:last-child) {
    margin-bottom: 2.2rem;
  }
}
.promo_banner__info a {
  color: inherit;
  height: 5.6rem;
  padding: 0 2.8rem;
  line-height: 5.6rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
}
.promo_banner__info a[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.promo_banner__info a:hover, .promo_banner__info a:focus {
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info a {
    color: #f6eedc;
    background-color: #141414;
    border: 1px solid #f6eedc;
  }
  .promo_banner__info a:hover {
    background-color: #e8baa3;
    color: #141414;
    border-color: #141414;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info a {
    background-color: #e8baa3;
    color: #141414;
    border-color: #141414;
  }
  .promo_banner__info a:hover {
    color: #f6eedc;
    background-color: #141414;
    border: 1px solid #f6eedc;
  }
}
.promo_banner__info a:hover, .promo_banner__info a:focus {
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .promo_banner__info a {
    width: 17.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__info a {
    width: 14.5rem;
  }
}

.promo_banner__content {
  width: 100%;
  max-width: 40rem;
}
@media screen and (max-width: 1023px) {
  .promo_banner__content {
    text-align: center;
  }
}

.promo_banner__slider {
  align-self: center;
}
.promo_banner__slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.99);
  background-color: #fff;
  border-radius: 0.8rem;
}
.promo_banner--reversed_mod .promo_banner__slider {
  order: 1;
}
@media screen and (min-width: 1024px) {
  .promo_banner--reversed_mod .promo_banner__slider {
    margin-right: -25rem;
  }
}
@media screen and (min-width: 1024px) {
  .promo_banner__slider:not(.promo_banner--reversed_mod .promo_banner__slider) {
    margin-left: -25rem;
  }
}
@media screen and (min-width: 1024px) {
  .promo_banner__slider {
    flex: 1 1 65.5rem;
    border-radius: 0.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__slider {
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
  }
}

.promo_banner__picture {
  position: relative;
  display: block;
}
@media screen and (min-width: 1024px) {
  .promo_banner__picture {
    padding-bottom: 79.4%;
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__picture {
    order: 1;
    padding-bottom: 93.8%;
    background: #141414;
  }
}

.promo_banner__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .promo_banner__img {
    border-radius: 0.8rem;
    filter: drop-shadow(1rem 1rem 4rem rgba(0, 0, 0, 0.2));
  }
}
@media screen and (max-width: 1023px) {
  .promo_banner__img {
    border-radius: 0.8rem 0.8rem 0 0;
  }
}

.promo_banner .swiper-pagination {
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 1023px) {
  .promo_banner .swiper-pagination {
    display: none;
  }
}

.promo_banner .swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem !important;
  background: transparent;
  border: 1px solid #f6eedc;
  opacity: 1;
  transition: background 0.3s ease, opacity 0.3s ease;
}

.promo_banner .swiper-pagination-bullet-active {
  background: #f6eedc;
}
/*!************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/page-nav.scss ***!
  \************************************************************************************************************************************************************************************/
.page_nav {
  width: 100%;
  padding: 0 var(--gl-indent);
  margin-top: -4.8rem;
  z-index: 10;
}
@media screen and (max-width: 1023px) {
  .page_nav {
    display: none;
  }
}

.page_nav--offset_mod {
  margin-bottom: 7.6rem;
}

.page_nav__body {
  background: #f6eedc;
  padding: 0 5.2rem;
  border: 2px solid #141414;
  border-radius: 0.8rem;
  box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.2);
}

.page_nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.page_nav__item {
  position: relative;
  height: 100%;
}

.page_nav__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-weight: 400;
  font-family: "Gazpacho", sans-serif;
  white-space: nowrap;
  font-size: 3.2rem;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 1200px) {
  .page_nav__link {
    padding: 2.8rem 3.8rem;
  }
}
@media screen and (max-width: 1199px) {
  .page_nav__link {
    padding: 2.8rem 1.6rem;
  }
}
.page_nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 0.6rem;
  max-width: 23.6rem;
  width: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.page_nav__link:before {
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-style: italic;
  font-weight: 700;
}
@media speech {
  .page_nav__link:before {
    display: none;
  }
}
.page_nav__link:focus {
  font-weight: 700;
  font-style: normal;
}
.page_nav__link:focus:after {
  opacity: 1;
}
.page_nav__link:hover, .page_nav__link:focus {
  text-decoration: none;
}
@media (any-hover: hover) {
  .page_nav__link:hover {
    font-weight: 700;
  }
  .page_nav__link:hover:after {
    opacity: 1;
  }
}
/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/content-module.scss ***!
  \******************************************************************************************************************************************************************************************/
@media screen and (min-width: 1024px) {
  .content_module {
    padding: 8rem var(--gl-indent) 18rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module {
    padding: 8rem var(--gl-indent);
  }
}

@media screen and (min-width: 1024px) {
  .content_module__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
}

@media screen and (min-width: 1024px) {
  .content_module__col {
    width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__col {
    width: 100%;
  }
  .content_module__col:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .content_module__icon_w {
    margin-bottom: 3.2rem;
    width: 8.3rem;
    height: 4.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__icon_w {
    margin-bottom: 1.5rem;
    width: 5.1rem;
    height: 3.2rem;
  }
}

.content_module__icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content_module__subtitle {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2em;
}
.content_module__subtitle:not(:last-child) {
  margin-bottom: 2rem;
}

.content_module__title {
  font-weight: 700;
  line-height: 110%;
  font-family: "Gazpacho", sans-serif;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .content_module__title {
    font-size: 5.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__title {
    font-size: 3.2rem;
  }
}

.content_module__title_w {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .content_module__title_w {
    padding-left: 14.2rem;
    max-width: 73.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__title_w {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}

.content_module__info_w {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .content_module__info_w {
    padding-left: min(14.8rem, 8.1vw);
    max-width: 67.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_w {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}

.content_module__info_title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 110%;
  font-family: "Gazpacho", sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 118%;
}
.content_module__info_title:not(:last-child) {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .content_module__info_descr {
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_descr {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.02em;
  }
}
.content_module__info_descr:not(:last-child) {
  margin-bottom: 4rem;
}
.content_module__info_descr p:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .content_module__info_price:not(:last-child) {
    margin-bottom: 6.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_price:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_price {
    max-width: 60rem;
    width: 100%;
  }
}

.content_module__info_price_title {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .content_module__info_price_title {
    letter-spacing: 0.2em;
  }
  .content_module__info_price_title:not(:last-child) {
    margin-bottom: 4.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_price_title {
    letter-spacing: 0.1em;
  }
  .content_module__info_price_title:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .content_module__info_price_list {
    padding: 0 2.2rem;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .content_module__info_price_row_w:not(:last-child) {
    margin-bottom: 1.2rem;
  }
  .content_module__info_price_row_w.content_module__info_price_row_w--offset_mod {
    margin-bottom: 4.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_price_row_w:not(:last-child) {
    margin-bottom: 1.4rem;
  }
  .content_module__info_price_row_w.content_module__info_price_row_w--offset_mod {
    margin-bottom: 4rem;
  }
}

.content_module__info_price_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  margin-right: -2rem;
}

.content_module__info_price_col {
  width: 50%;
  padding-right: 2rem;
}

.content_module__info_price_col_style {
  line-height: 140%;
  letter-spacing: 0.02em;
}
.content_module__info_price_col:last-child .content_module__info_price_col_style {
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .content_module__info_price_col:last-child .content_module__info_price_col_style {
    font-weight: 500;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_price_col:last-child .content_module__info_price_col_style {
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .content_module__info_price_col_style {
    font-size: 2.2rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_price_col_style {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.content_module__info_price_col_including {
  line-height: 140%;
  letter-spacing: 0.02em;
}
.content_module__info_price_col:first-child .content_module__info_price_col_including {
  font-style: italic;
}
.content_module__info_price_col:last-child .content_module__info_price_col_including {
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .content_module__info_price_col:last-child .content_module__info_price_col_including {
    font-weight: 500;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_price_col:last-child .content_module__info_price_col_including {
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .content_module__info_price_col_including {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .content_module__info_price_col_including {
    font-size: 1.8rem;
  }
}

.content_module__info_btn_w {
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .content_module__info_btn_w {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/related-artciels.scss ***!
  \********************************************************************************************************************************************************************************************/
.card_pagination .related_artciels {
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .related_artciels {
    padding: 9rem var(--gl-indent);
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels {
    padding: 5.6rem 2rem 7.6rem;
  }
  .related_artciels:not(.body--color_mod .related_artciels, .card_pagination .related_artciels) {
    background-color: #8fbaba;
  }
}

.related_artciels__header {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .related_artciels__header:not(:last-child) {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__header:not(:last-child) {
    margin-bottom: 3.2rem;
  }
}
.related_artciels__header h6 {
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .related_artciels__header h6 {
    font-size: 1.6rem;
    line-height: 262%;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__header h6 {
    font-size: 1.4rem;
    line-height: 140%;
  }
}
@media screen and (min-width: 1024px) {
  .related_artciels__header h6:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__header h6:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}
.related_artciels__header h2 {
  font-family: "Gazpacho", sans-serif;
  font-weight: 700;
  line-height: 110%;
}
@media screen and (min-width: 1024px) {
  .related_artciels__header h2 {
    font-size: 5.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__header h2 {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .related_artciels__header h2:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__header h2:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}
.related_artciels__header p {
  max-width: 52rem;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .related_artciels__header p {
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__header p {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1024px) {
  .related_artciels__header p:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__header p:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

@media screen and (max-width: 1023px) {
  .related_artciels__footer {
    padding-bottom: 3.6rem;
  }
}

.related_artciels__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .related_artciels__body {
    margin: 0 -2rem -3.2rem 0;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__body {
    margin: 0 -1.4rem -3.2rem 0;
    overflow: visible;
  }
}

.related_artciels__card {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .related_artciels__card {
    padding: 0 2rem 3.2rem 0;
  }
  .related_artciels__4_col_mod .related_artciels__card {
    flex: 0 0 25%;
  }
  .related_artciels__3_col_mod .related_artciels__card {
    flex: 0 0 33.333%;
  }
  .related_artciels__2_col_mod .related_artciels__card {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__card {
    max-width: 30.4rem;
    height: auto;
    padding: 0 1.4rem 3.2rem 0;
  }
  .card_pagination .related_artciels__card {
    max-width: 35rem;
  }
}

.related_artciels__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.8rem;
  text-align: center;
  color: #141414;
  background-color: #f6eedc;
  transition: box-shadow 0.6s ease;
  overflow: hidden;
}
.related_artciels__wrapper:hover, .related_artciels__wrapper:focus {
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .related_artciels__wrapper:hover {
    box-shadow: 3px 3px 4rem rgba(0, 0, 0, 0.12);
  }
  .related_artciels__wrapper:hover .related_artciels__img {
    transform: scale(1.1);
  }
  .related_artciels__wrapper:hover .related_artciels__btn strong {
    font-weight: 700;
    border-bottom: 2px solid #141414;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__wrapper {
    box-shadow: 3px 3px 4rem rgba(0, 0, 0, 0.12);
  }
  .related_artciels__wrapper .related_artciels__content strong {
    font-weight: 700;
    border-bottom: 2px solid #141414;
  }
}
.related_artciels__wrapper h4 {
  font-family: "Gazpacho", sans-serif;
  line-height: 120%;
}
@media screen and (min-width: 1024px) {
  .related_artciels__wrapper h4 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__wrapper h4 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .related_artciels__wrapper h4:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__wrapper h4:not(:last-child) {
    margin-bottom: 0.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .related_artciels__4_col_mod .related_artciels__wrapper h4 {
    font-size: 2.8rem;
    line-height: 120%;
  }
  .related_artciels__3_col_mod .related_artciels__wrapper h4 {
    margin-bottom: 2rem;
    font-size: 3.2rem;
    line-height: 110%;
  }
  .related_artciels__2_col_mod .related_artciels__wrapper h4 {
    margin-bottom: 2rem;
    font-size: 5.6rem;
    line-height: 110%;
  }
}
.related_artciels__wrapper p {
  display: block;
  flex: 1 1 100%;
  margin: 0 auto;
  max-width: 29rem;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1024px) {
  .related_artciels__wrapper p {
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__wrapper p {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1024px) {
  .related_artciels__3_col_mod .related_artciels__wrapper p {
    margin-bottom: 2rem;
  }
  .related_artciels__2_col_mod .related_artciels__wrapper p {
    margin-bottom: 2rem;
  }
}
.related_artciels__wrapper strong {
  color: #141414;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1024px) {
  .related_artciels__wrapper strong {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__wrapper strong {
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom: 2px solid #141414;
  }
}

@media screen and (min-width: 1024px) {
  .related_artciels__btn {
    padding: 0 3.2rem 3.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__btn {
    padding: 0 2.4rem 2.4rem;
  }
}

.related_artciels__content {
  flex: 1 1 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .related_artciels__content {
    padding: 4rem 3.2rem 2rem 3.2rem;
  }
}
@media (max-width: 1199px) and (min-width: 1024px) {
  .related_artciels__content {
    padding: 2rem 1.4rem 2rem 1.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__content {
    padding: 2.2rem 2.4rem 0.8rem 2.4rem;
  }
}

.related_artciels__picture {
  position: relative;
  display: block;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .related_artciels__4_col_mod .related_artciels__picture {
    padding-bottom: 82.8%;
  }
  .related_artciels__3_col_mod .related_artciels__picture {
    padding-bottom: 81.4%;
  }
  .related_artciels__2_col_mod .related_artciels__picture {
    padding-bottom: 66.4%;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__picture {
    padding-bottom: 89.2%;
  }
  .card_pagination .related_artciels__picture {
    padding-bottom: 75%;
  }
}

.related_artciels__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.related_artciels__button {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .related_artciels__button {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .related_artciels__button {
    display: block;
  }
}

.related_artciels__more {
  width: 18.1rem;
  height: 5.6rem;
  padding: 0 2.8rem;
  line-height: 5.6rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  font-weight: 700;
  color: #141414;
  letter-spacing: 0.03em;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  border: 2px solid #141414;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
}
.news_banner--bg_black_mod .related_artciels__more {
  border-color: #f6eedc;
  color: #f6eedc;
}
.related_artciels__more[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.related_artciels__more:hover, .related_artciels__more:focus {
  text-decoration: none;
}
.related_artciels__more:hover {
  background-color: #141414;
  color: #f6eedc;
}
.news_banner--bg_black_mod .related_artciels__more:hover {
  background-color: #e8baa3;
  color: #141414;
  border-color: #141414;
}
/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/gallery.scss ***!
  \***********************************************************************************************************************************************************************************/
.gallery__title {
  font-weight: 700;
  line-height: 110%;
  max-width: 78rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Gazpacho", sans-serif;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .gallery__title {
    font-size: 5.6rem;
  }
}
@media screen and (max-width: 1023px) {
  .gallery__title {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__title:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .gallery__title:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.gallery__descr {
  max-width: 79rem;
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
}
.gallery__descr p:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .gallery__descr {
    font-size: 1.8rem;
    line-height: 130%;
  }
}
@media screen and (max-width: 1023px) {
  .gallery__descr {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 137%;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__heading {
    margin-bottom: 6.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .gallery__heading {
    margin-bottom: 3rem;
  }
}

.gallery__list_drag {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .gallery__list_drag {
    height: calc(min(26vw, 44rem) * 2 + 2.4rem);
  }
}

@media screen and (min-width: 1640px) {
  .gallery__list_w {
    margin-right: calc(-1 * (100vw - 160rem) / 2);
  }
}
@media screen and (max-width: 1639px) {
  .gallery__list_w {
    margin-right: calc(-1 * var(--gl-indent));
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__list_w {
    position: absolute;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__list {
    display: grid;
    grid-template-rows: min(24vw, 42rem) min(24vw, 42rem);
    grid-auto-columns: min(21.4vw, 38.5rem);
    grid-auto-flow: row dense;
    grid-gap: 2rem;
    transition: transform ease 0.2s;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__item:nth-child(4n+1) {
    grid-column: span 2;
    grid-row: 1/span 2;
  }
  .gallery__item:nth-child(4n+2) {
    grid-row: 1;
    grid-column: span 2;
  }
}
@media screen and (max-width: 1023px) {
  .gallery__item {
    padding-right: 1.5rem;
    margin-bottom: 2.6rem;
  }
}

.gallery__item_link {
  display: block;
  height: 100%;
}

.gallery__item_in {
  border-radius: 0.8rem;
  overflow: hidden;
  height: 100%;
}

.gallery__item_img_w {
  position: relative;
  display: block;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .gallery__item_img_w {
    padding-bottom: 101%;
  }
}

.gallery__item_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease 0.3s;
}
.gallery__item_link:hover .gallery__item_img {
  transform: scale(1.1);
}
@media screen and (max-width: 1023px) {
  .gallery__item_img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__scrollbar_w {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .gallery__scrollbar_w {
    position: relative;
    width: calc(100% - var(--gl-indent));
    height: 0.5rem;
    overflow: hidden;
  }
  .gallery__scrollbar_w .swiper-scrollbar {
    bottom: 1px !important;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__scrollbar_desk_w {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    height: 0.5rem;
    width: 100%;
    border-bottom: 1px solid #141414;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__scrollbar_desk {
    width: 71%;
    height: 100%;
    background: linear-gradient(to right, #141414 0%, #141414 41%, rgba(252, 252, 252, 0) 10%);
    transition: transform ease 0.3s;
  }
}
/*!***************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/scss/components/full-screen.scss ***!
  \***************************************************************************************************************************************************************************************/
.full_screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
}

.full_screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.full_screen__bg:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.full_screen__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--gl-indent);
  text-align: center;
  color: #f6eedc;
  z-index: 1;
}

.full_screen__title {
  width: 100%;
  font-family: "Gazpacho", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .full_screen__title:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__title:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__title {
    max-width: 68rem;
    font-size: 8.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__title {
    max-width: 85%;
    font-size: 3.2rem;
  }
}

.full_screen__subtitle {
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #f6eedc;
}
@media screen and (min-width: 1024px) {
  .full_screen__subtitle {
    font-size: 1.6rem;
    line-height: 262%;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__subtitle {
    font-size: 1.4rem;
    line-height: 140%;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__subtitle:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__subtitle:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.full_screen__text {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .full_screen__text {
    font-size: 1.8rem;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__text {
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__text {
    max-width: 68rem;
    letter-spacing: 0.03em;
    line-height: 1.3;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__text {
    max-width: 30rem;
    letter-spacing: 0.02em;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__text:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__text:not(:last-child) {
    margin-bottom: 3.2rem;
  }
}

.full_screen__button {
  cursor: pointer;
}

.full_screen__button_text {
  height: 5.6rem;
  padding: 0 2.8rem;
  line-height: 5.6rem;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-family: "Satoshi", sans-serif;
  cursor: pointer;
}
.full_screen__button_text[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.full_screen__button_text:hover, .full_screen__button_text:focus {
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .full_screen__button_text {
    color: #f6eedc;
    background-color: #141414;
    border: 1px solid #f6eedc;
  }
  .full_screen__button_text:hover {
    background-color: #e8baa3;
    color: #141414;
    border-color: #141414;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__button_text {
    background-color: #e8baa3;
    color: #141414;
    border-color: #141414;
  }
  .full_screen__button_text:hover {
    color: #f6eedc;
    background-color: #141414;
    border: 1px solid #f6eedc;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__button_text {
    width: 19.2rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__button_text {
    width: 18rem;
  }
}

.full_screen__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full_screen__icon {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .full_screen__icon {
    height: 23.7rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__icon {
    height: 12.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .full_screen__icon:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__icon:not(:last-child) {
    margin-bottom: 3.4rem;
  }
}

.full_screen__picture_btn {
  display: block;
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1024px) {
  .full_screen__picture_btn {
    width: 9rem;
    height: 9rem;
  }
}
@media screen and (max-width: 1023px) {
  .full_screen__picture_btn {
    width: 5rem;
    height: 5rem;
  }
}
.full_screen__picture_btn:hover {
  transform: scale(1.05);
}

.full_screen__img_btn {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.full_screen__picture {
  display: block;
  width: 100%;
  height: 100%;
}

.full_screen__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=src_js_components_banner-promo_js-src_js_components_content-module_js-src_js_components_full--1cc3f3.css.map*/